<footer class="footer">
  <div class="footer_section_content">
    <section class="footer_section_rrss">
      <a href="https://twitter.com/WTMMadrid">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/wtmmadrid/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/wtmmadrid/">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-github"></i>
      </a>
    </section>
  </div>
  <div class="footer_section_content_c2">
    <section class="footer_section_links">
      <a href="">
        Contáctanos en el mail: womentechmakersmadrid@gmail.com
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="../codigo.html">Código de conducta</a>
      <a>Política de privacidad</a>
    </section>
    <section class="footer_section_logo">
      <img
        class="footer_section_logo-img"
        src="./images/logo-wtm-blue.png"
        alt="Logo Women TechMakers"
      />
    </section>
  </div>
  <span class="footer_section_copy">
    Made with 💙 by Ainhoa, Alba, Aránzazu, Cris and Rachel &copy; 2024
  </span>
</footer>
